@model Fanfic.Models.ViewModels.CompositionViewModel


<!DOCTYPE html>
<html>
<head>
    <style>
        ul.hr {
            margin: 0;
            padding: 4px;
        }

            ul.hr li {
                display: inline-block;
                margin-right: 5px;
                border: 1px solid #000;
                padding: 3px;
            }
    </style>



</head>
<body>
    <div class="row">
        <div class="col-6">
            <div class="card bg-light ">
                <h5 class="card-header">@Model.Name</h5>
                <div class="card-body">

                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.AuthorName)
                        </dt>

                        <dd class="col-sm-8 ">
                            @Html.DisplayFor(model => model.AuthorName)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Genre)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Genre)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Tags)
                        </dt>
                        <dd class="col-sm-8">
                            <ul class="hr">
                                @foreach (var tag in Model.Tags)
                                {

                                    <li> @tag.Name</li>

                                }
                            </ul>
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.CurrentUserRating)
                        </dt>

                        <dd class="col-sm-8 ">
                            <div class="rating">

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <input id="input-1" name="input-1" value="@Model.CurrentUserRating" class="theme-krajee-fa">
                                }
                                else
                                {
                                    <input id="input-1" name="input-1" readonly="readonly" value="@Model.CurrentUserRating" class="theme-krajee-fa">
                                }
                            </div>
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Rating)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Rating)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.DateOfCreation)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.DateOfCreation)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        @if (Model.Chapters.Count() != 0)
        {
            <div class="col-6">
                <h2>Contents</h2>

                <div class="list-group list-group-flush">

                    @for (int i = 0; i < Model.Chapters.Count(); i++)
                    {
                        <a asp-action="ReadChapter" asp-controller="Composition" asp-route-compositionId="@Model.Id"
                           asp-route-chapterIndex="@i" asp-route-id="@(Model.Chapters.ElementAt(i).Id)" class="list-group-item list-group-item-action">@Model.Chapters.ElementAt(i).Name</a>
                    }

                </div>

            </div>

        }
        else
        {
            <h2>This composition is empty!</h2>
        }
    </div>

    @section Scripts {
        <script>

        $(document).ready(function () {

                        $('#input-1').rating({
                            hoverOnClear: false,
                            theme: 'krajee-fa',
                            step: 1,
                            size: 'xs',

                        });

                    $('#input-1').on('rating:change', function (event, value, caption) {
                        console.log(value);
                        console.log(caption);
                        var compositionID = '@Model.Id';
                         $.ajax({
                            url: '@Url.Action("Rate","Composition")',
                            data: { stars: value, id: compositionID},
                            type: 'POST',
                             success: function (data)
                             {

                              $('#response').append('<li>' + data + '</li>');

                             },
                             error: function (jxhr, msg, err) {
                              $('#response').append('<li style="color:red">' + msg + '</li>');
                             }
                         });
                    });
             $('#input-1').on('rating:clear', function (event) {
                 console.log("rating:clear");
                        var compositionID = '@Model.Id';
                         $.ajax({
                            url: '@Url.Action("DeleteRating","Composition")',
                            data: { id: compositionID},
                            type: 'POST',
                             success: function (data)
                             {

                              $('#response').append('<li>' + data + '</li>');

                             },
                             error: function (jxhr, msg, err) {
                              $('#response').append('<li style="color:red">' + msg + '</li>');
                             }
                         });
                    });
        });
        </script>
    }

</body>
</html>